<!-- templates/includes/header.html -->
<header>
  <nav class="navbar shadow-sm">
    <div class="container">
      {% with request.resolver_match.view_name as view_name %}
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'pages:homepage' %} active {% endif %}"
              href="{% url 'pages:homepage' %}">
              Главная
            </a>
          </li>
          <li class ="nav-item">
            <a class="nav-link {% if view_name == 'news:news_article_list' %} active {% endif %}" href="{% url 'news:news_article_list' %}" >Новости</a>
          </li>
          <li class="nav-item">
            {% comment %} <a class="nav-link {% if view_name == 'birthday:create' %} active {% endif %}" {% endcomment %}
            <a class="nav-link"
              {% comment %} href="{% url 'birthday:create' %}"> {% endcomment %}
              href="#">
              Запись на приём
            </a>
          </li>
          <li class="nav-item">
            {% comment %} <a class="nav-link {% if view_name == 'birthday:list' %} active {% endif %}" href="{% url 'birthday:list' %}"> {% endcomment %}
            <a class="nav-link" 
            href="#">
              Наши специалисты
            </a>
          </li>
        </ul>

          <ul class="nav nav-pills ms-auto">
          {% if user.is_authenticated %}
            <span class="navbar-text">Пользователь: <b>{{ user.email }}</b></span>

            {% if view_name != 'profile:profile_create' %}
            <li class="nav-item">
                <a class="nav-link{% if view_name == 'profile' %} active {% endif %}" href="{% url 'profile:profile_view' %}">Профиль</a>
            </li>
            {% endif %}

            {% comment %} <li class="nav-item">
              <a class="nav-link{% if view_name == 'password_change' %} active {% endif %}"
                href="{% url 'password_change' %}">Изменить пароль</a>
            </li> {% endcomment %}

            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link{% if view_name == 'login' %} active {% endif %}" href="{% url 'login' %}">Войти</a>
            </li>
            <!-- Новая кнопка -->
            <li class="nav-item">
              <a class="nav-link{% if view_name == 'registration' %} active {% endif %}" href="{% url 'registration' %}">Регистрация</a>
            </li>
          {% endif %}
        </ul>
      {% endwith %}
    </div>
  </nav>
</header>