{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}
<div class="d-flex justify-content-center align-items-center">
  <div class="card col-5">
    <div class="card-header">
      Регистрация пользователя
    </div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button button_type="submit" content="Зарегистрироваться" extra_classes="w-100"  %}
      </form>
    </div>
  </div>
</div>
{% endblock %}